* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px 30px;
}
.logo {
  height: 80px;
}
.nav-items ul {
  display: flex;
}
.nav-items ul li {
  padding: 15px;
  list-style: none;
}
.res-card {
  --items: 4;
  --gap: 4px;
  --gap-excluded: calc((var(--items) - 1) * 4px);
  width: calc(100% / var(--items) - var(--gap-excluded) / var(--items));
  border: 1px solid black;
  padding: 5px 5px;
}
.res-card-img {
  width: 100%;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  /* justify-content: space-between; */
}
.filter-btn {
  margin: 20px 3px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 10px;
}
.login-btn {
  padding: 0px 20px;
  cursor: pointer;
}
.search input {
  padding: 10px;
  margin: 0px 15px;
  width: 300px;
}
.search button {
  padding: 10px;
  margin: 0px 15px;
}
.filter-btn-row {
  display: flex;
  align-items: center;
  gap: 20px;
}
